@import "variables";
@import "normalize";
@import "include-media";
@import "fonts";
@import "typography";

@import "layout/header";
@import "layout/footer";

@import "layout/introduction";
@import "layout/reference-list";
@import "layout/skills";
@import "layout/contact";
@import "layout/webdev";

@import "layout/heroheader";
@import "layout/chronic";

@import "items/blobbutton";

body{
    background-color: $ColorWhite;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease-in-out;

    &.dark_mode--on{
        background-color: $ColorBlack;
    }
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.section_content{
    max-width: $maxWidth;
    margin: 40px auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
}

@keyframes animatedshadow {
    0% {box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);}
    50% {box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05);}
    100% {box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);}
}

@keyframes animatedshadowinverted {
    0% {box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);}
    50% {box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.05);}
    100% {box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.1);}
}
