@import "variables";
@import "normalize";
@import "include-media";
@import "fonts";
@import "typography";

@import "layout/header";
@import "layout/footer";

@import "layout/introduction";
@import "layout/reference-list";
@import "layout/skills";

@import "layout/heroheader";
@import "layout/chronic";

@import "items/blobbutton";

body{
    background-color: black;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

.section_content{
    max-width: $maxWidth;
    margin: 40px auto;
    padding: 0 20px;
}

a{
    text-decoration: none;
}
