body {
     font-family: 'Metropolis';
     font-weight: 400;
     font-size: 14px;
     line-height: 1.625;
     color: $ColorBlack;

     &.dark_mode--on{
          color: $ColorWhite;
     }
}

h1 {
     margin: 0;
     font-weight: 700;
     font-size: 100px;
     line-height: 0.8;
}

h2 {
     margin: 0;
     font-weight: 700;
     font-size: 2rem;
     line-height: 1.442;
}

.button {
     margin: 0 15px;
     padding: 10px;
     display: inline-block;
     border-top: 1px solid $ColorBlack;
     border-bottom: 1px solid $ColorBlack;
     color: $ColorBlack;
     position: relative;
     width: auto;

     &::after, &::before{
          position: absolute;
          content: "";
          z-index: 1;
          top: 6px;
          bottom: 0;
          transform: rotate(45deg);
          height: 31px;
          width: 31px;
          z-index: -10;
     }

     &::after{
          right: -16px;
          border-right: 1px solid $ColorBlack;
          border-top: 1px solid $ColorBlack;
     }

     &::before{
          left: -16px;
          border-left: 1px solid $ColorBlack;
          border-bottom: 1px solid $ColorBlack;
     }

     &:hover{
          background-color: $ColorBlack;
          color: $ColorWhite;
          &::after, &::before{
               background-color: $ColorBlack;
          }
     }

     .dark_mode--on &{
          border-top: 1px solid $ColorWhite;
          border-bottom: 1px solid $ColorWhite;
          color: $ColorWhite;

          &::after{
               border-right: 1px solid $ColorWhite;
               border-top: 1px solid $ColorWhite;
          }
     
          &::before{
               border-left: 1px solid $ColorWhite;
               border-bottom: 1px solid $ColorWhite;
          }

          &:hover{
               background-color: $ColorWhite;
               color: $ColorBlack;
               &::after, &::before{
                    background-color: $ColorWhite;
               }
          }
     }
}
