body {
     font-family: 'Metropolis';
     font-weight: 400;
     font-size: 14px;
     line-height: 1.625;
     color: $ColorBlack;

     &.dark_mode--on{
          color: $ColorWhite;
     }
}

h1 {
     margin: 0;
     font-weight: 700;
     font-size: 100px;
     line-height: 0.8;
}

h2 {
     margin: 0;
     font-weight: 700;
     font-size: 2rem;
     line-height: 1.442;
     @include media("<medium") {
          text-align: center;
     }
}

.button_wrap{
     filter: drop-shadow(0px -1px $ColorBlack) drop-shadow(-1px 0px $ColorBlack) drop-shadow(0 1px $ColorBlack) drop-shadow(1px 0 $ColorBlack);

     .button {
          margin: 0 15px;
          padding: 10px 20px;
          display: inline-block;
          color: $ColorBlack;
          background-color: $ColorWhite;
          position: relative;
          width: auto;
          transform-style: preserve-3d;
          clip-path: polygon(20px 0%, calc(100% - 20px) 0%, 100% 50%, calc(100% - 20px) 100%, 20px 100%, 0% 50%);
          transition: 0.2s ease-in-out;

          &:hover{
               background-color: $ColorBlack;
               color: $ColorWhite;
          }

          .dark_mode--on &{
               border: 1px solid $ColorWhite;
               color: $ColorWhite;
               background-color: $ColorBlack;

               &:hover{
                    background-color: $ColorWhite;
                    color: $ColorBlack;
               }
          }
     }

     .dark_mode--on &{
          filter: drop-shadow(0px -1px $ColorWhite) drop-shadow(-1px 0px $ColorWhite) drop-shadow(0 1px $ColorWhite) drop-shadow(1px 0 $ColorWhite);
     }
}
