.section.section--chronic{
    padding: 20px 20px;
    max-width: $maxWidth;
    margin: 0 auto;

    .section_title{
        margin: 0 0 40px 0;
    }

    .section_list{

        .list_item{
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            
            .list_item_timeline{
                width: 10%;
                flex: 0 0 auto;
                position: relative;
                a{
                    text-decoration: none;
                }
                
                span{
                    position: absolute;
                    display: block;
                    content: "";
                    border-left: 3px solid $ColorPrimary;
                    left: 15px;
                    right: 0;
                    top: 30px;
                    bottom: -5px;
                }
            }

            .list_item_content{
                width: 90%;
                

                .list_item_content_title{
                    text-decoration: none;
                }

                img{
                    width: 100%;
                }
                .list_item_content_text{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.3s ease-in-out;
                }
            }

            &.list_item--visible{

                .list_item_timeline{
                    h4{
                        color: black;
                    }
                    span{
                        border-color: black;
                    }
                }
                .list_item_content{
                    padding-bottom: 20px;
                    .list_item_content_title{
                        h4{
                            color: black;
                        }
                    }

                    .list_item_content_text{
                        transition: max-height 0.5s ease-in-out;
                        max-height: 1200px;
                    }
                }
            }

            &:last-of-type{

                .list_item_timeline{
                    span{
                        display: none;
                    }
                }

                &.list_item-visible{
                    .list_item_timeline{
                        span{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}