@use "../variables" as *;

footer{

    .footer_icon{
        display: flex;
        justify-content: center;

        svg{
            mix-blend-mode: multiply;
            width: 150px;
            height: 150px;
            object-fit: contain;
            color: red;
            animation: rainbow 20s infinite;
        }

        @keyframes rainbow{
            100%,0%{
                color: rgb(255,0,0);
            }
            8%{
                color: rgb(255,127,0);
            }
            16%{
                color: rgb(255,255,0);
            }
            25%{
                color: rgb(127,255,0);
            }
            33%{
                color: rgb(0,255,0);
            }
            41%{
                color: rgb(0,255,127);
            }
            50%{
                color: rgb(0,255,255);
            }
            58%{
                color: rgb(0,127,255);
            }
            66%{
                color: rgb(0,0,255);
            }
            75%{
                color: rgb(127,0,255);
            }
            83%{
                color: rgb(255,0,255);
            }
            91%{
                color: rgb(255,0,127);
            }
    }

        .dark_mode--on &{
            filter: invert(1);
        }
    }

    .footer_menu{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;

        a{
            color: var(--ColorBlack);
            padding: 10px 20px;

            &:hover{
                background-color: var(--ColorBlack);
                color: var(--ColorWhite);

                .dark_mode--on &{
                    background-color: var(--ColorWhite);
                    color: var(--ColorBlack);
                }
            }

            .dark_mode--on &{
                color: var(--ColorWhite);
            }
        }
    }
}
