header{
    margin: 0 auto;

    .header_bar{
        position: fixed;
        height: 80px;
        width: 80px;
        z-index: 200;
        background-color: black;

        .header_bar_nav-toggle{
            font-weight: 600;
            transition: transform 0.5s;
            cursor: pointer;
            position: absolute;
            top: 20px;
            left: 20px;
            z-index: 101;
            order: 2;
            transform-origin: center;
            transform: rotate(90deg);

            span{
                display: block;
                background-color: white;
                height: 3px;
                width: 35px;
                margin-bottom: 5px;
                position: relative;
                left: 0;
                opacity: 1;
                transition: all 0.35s ease-out;
                transform-origin: center;
            }
            span:nth-child(1){
                top: -2px;
            }
            span:nth-child(2){
                top: 4px;
            }
            span:nth-child(3){
                top: -4px;
            }
            span:nth-child(4){
                top: 2px;
            }

            .body--show &{
                transform: rotate(0deg);
            }
        }

        .header_bar_nav{
            display: block;
            flex: 1 1 auto;
            position: absolute;
            top: 70px;
            left: 0px;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0;
                width: 80px;

                a{
                    display: block;
                    background-color: black;
                    border-left: 0px;
                    color: white;
                    transition: 0.3s ease-in-out;
                    li{
                        list-style: none;
                        
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: row;
                        align-items: center;
                        transition: 0.3s ease-in-out;
                        padding: 0 10px;

                        img{
                            height: 50px;
                            width: 50px;
                        }

                        p{
                            padding: 0 10px;
                            margin: 0;
                            opacity: 0;
                            transition: 0.3s ease-in-out;
                        }

                        .body--show &{

                            padding: 10px;

                            p{
                                opacity: 1;
                                text-align: left;
                            }
                        }
                    }
                    &:first-of-type{
                        clip-path: polygon(0 0, 80% 0, 100% 25%, 100% 100%, 0% 100%);
                    }

                    &:last-of-type{
                        clip-path: polygon(0 0, 100% 0, 100% 75%, 80% 100%, 0% 100%);
                    }
                    &:hover{
                        filter: invert(1);
                    }
                }
                .body--show &{
                    width: 190px;
                    a{
                        &:first-of-type{
                            clip-path: polygon(0 0, 90% 0, 100% 25%, 100% 100%, 0% 100%);
                        }

                        &:last-of-type{
                            clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0% 100%);
                        }
                    }
                }

                @include media("<desktop") {
                    display: none;

                    .body--show &{
                        display: block;
                    }
                }
            }
        }
    }

    .header_banner{
        width: 100%;
        img{
            width: 100%;
        }
    }
}
