.section.section--heroheader{
  font-weight: 700;
  text-align: center;
  height: 1000px;
  box-sizing: border-box;
  margin: 0;

  .parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

    .spacer{
      height: 100vh;
    }

    .section{
      position: relative;
      z-index: 10;

      padding: 20px;
      margin-top: 40px;
    }
  }

  .parallax_cover{
    background-color: black;
    top: 110vh;
    height: 200px;
    width: 100%;
    position: absolute;
    z-index: 10;
  }

  .parallax__layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    img{
      width: 100%;
      height: auto;
    }

    &:last-of-type{
      margin-bottom: 100vh;
    }

    &.parallax__layer__0{
      transform: translateZ(0);
    }

    &.parallax__layer__1{
      transform: translateZ(-1px) scale(2);
    }

    &.parallax__layer__2{
      transform: translateZ(-2px) scale(3);
    }

    &.parallax__layer__3{
      transform: translateZ(-3px) scale(4);
    }

    &.parallax__layer__4{
      transform: translateZ(-4px) scale(5);
    }

    &.parallax__layer__5{
      transform: translateZ(-7px) scale(8);
    }

    &.parallax__layer__6{
      transform: translateZ(-8px) scale(9);
    }

    &.parallax__layer__7{
      transform: translateZ(-9px) scale(10);
    }
  }
}
