.section.section--imagetext{
    padding: 20px 20px;

    max-width: $maxWidth;
    margin: 0 auto;

    .section_title{
        margin: 0;
        margin-bottom: 20px;
        max-width: 50%;
    }

    

    .section_content{
        display: flex;
        flex-wrap: wrap;
        .section_content_text{
            width: 100%;
            
            p{
                &:first-of-type{
                    margin-top: 0;
                }
            }

            @include media(">medium") {
                flex: 1 1 50%;
                padding-top: 0;
                max-width: 66%;
            }
        }
        .section_content_image{
            width: 100%;
            img{
                width: 100%;
            }

            @include media(">medium") {
                width: 50%;
                padding-right: 40px;
            }
        }

        @include media(">medium") {
            flex-wrap: nowrap;
        }
    }

    

    &.image-right{
        .section_content{
            .section_content_image{
                @include media(">medium") {
                    order:2;
                    padding-right: 0;
                    padding-left: 40px;
                }
            }
        }
    }   
}