.section.section--introduction{

    .background{
        width: 100%;
        min-height: 600px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 40px;
        clip-path: polygon(0% 80%, 50% 100%, 100% 80%, 100% 0%, 0% 0%);
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -10;
        opacity: 0.4;
        img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        @include media("<smartphone") {
            width: 100%;
            margin-top: -9vw;
        }
    }

    .section_content{
        max-width: $maxWidth;
        margin: 0 auto;

        .introduction_title{
            width: 100%;
            padding: 100px 0px 0 0;
            font-size: clamp(2rem, 0.5405rem + 6.4865vw, 5rem);
            text-align: center;
            border-bottom: 5px solid black;

            .dark_mode--on &{
                border-bottom: 5px solid white;
            }
        }

        .portrait{
            width: 70%;
            min-height: 600px;
            margin: 0 auto;
            margin-top: -7vw;
            clip-path: polygon(0% 80%, 50% 100%, 100% 80%, 100% 0%, 0% 0%);
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                animation-duration: 0.5s;
                animation-name: animate-movein;
                animation-delay: 0.3s;
                animation-timing-function: ease-out;
                animation-fill-mode: backwards;
            }

            @include media(">desktop") {
                width: 50%;
                margin-top: -3.5vw;
            }

            @include media("<smartphone") {
                width: 100%;
                margin-top: -9vw;
            }
        }

        .professions_list{
            padding-top: 20px;
            display: flex;
            justify-content: center;
            .professions_entry{
                width: 15%;
                filter: invert(1);
                transition: transform 0.1s ease-in-out;

                &:hover{
                    transform: scale(1.1);
                }

                .dark_mode--on &{
                    filter: none;
                }
            }

            @include media("<medium") {
                .professions_entry{
                    width: 20%;
                }
            }

            @include media("<smartphone") {
                flex-wrap: wrap;
                .professions_entry{
                    width: 33%;
                }
            }
        }
    }
}

@keyframes animate-movein {
    0% { transform: translateY(500px); }
    100% { transform: translateY(0); }
}
