@use "../variables" as *;

.section.section--skills{

    .skillset{
        .skillset_headline{
            cursor: pointer;
            position: relative;
            margin-bottom: 0;

            &::after{
                content: "";
                position: relative;
                top: 10px;
                left: 10px;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: $ColorBlack;
                clip-path: polygon(50% 50%, 0 0, 100% 0);
                transition: 0.3s ease-in-out;

                .dark_mode--on &{
                    background-color: $ColorWhite;
                }
            }
        }

        .skillset_content{
            overflow: hidden;
            max-height: 0px;
            transition: 0.3s max-height ease-in-out;

            .skill{
                display: flex;
                padding: 5px 0;
                justify-content: space-between;

                p{
                    margin: 0;
                    width: 20%;
                    flex-shrink: 0;

                    @include media(max-medium) {
                        width: 30%;
                    }

                    @include media(max-smartphone) {
                        text-align: right;
                        padding-right: 10px;
                        width: 50%;
                    }
                }

                .skill_container {
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0 0 10px inset lightgray;
                    flex-shrink: 1;
                    border-radius: 30px;
                    overflow: hidden;
                    position: relative;

                    .skill_entry_spacer{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        span{
                            width: 20%;
                            border-left: 1px solid rgb(212, 212, 212);
                            z-index: 5;
                        }
                    }

                    .skill_entry {
                        text-align: right;
                        padding: 0 20px;
                        color: $ColorBlack;
                        background-color: rgba(214, 214, 214, 0.8);
                        width: 0%;
                        height: 100%;
                        border-radius: 0 30px 30px 0;
                        position: relative;
                        z-index: 10;
                        transition: 0.5s ease-in-out;

                        .dark_mode--on &{
                            color: $ColorWhite;
                            background-color: rgba(87, 87, 87, 0.8);
                        }

                        @include media(max-smartphone) {
                            text-align: left;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }
        &.visible{
            .skillset_headline{
                &::after{
                    clip-path: polygon(50% 0, 0 50%, 100% 50%);
                }
            }
            .skillset_content{
                max-height: 800px;

                .skill{
                    .skill_container{
                        .skill_entry{
                            &.width100 {
                                width: 100%;
                            }
                            &.width90 {
                                width: 90%;
                            }
                            &.width80 {
                                width: 80%;
                            }
                            &.width70 {
                                width: 70%;
                            }
                            &.width60 {
                                width: 60%;
                            }
                            &.width50 {
                                width: 50%;
                            }
                            &.width40 {
                                width: 40%;
                            }
                            &.width30 {
                                width: 30%;
                            }
                            &.width20 {
                                width: 20%;
                            }
                            &.width10 {
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}
