.section.section--skills{

    .skillset{
        .skillset_headline{
            cursor: pointer;
            position: relative;
            margin-bottom: 0;

            &::after{
                content: "";
                position: relative;
                top: 10px;
                left: 10px;
                display: inline-block;
                width: 20px;
                height: 20px;
                background-color: white;
                clip-path: polygon(50% 50%, 0 0, 100% 0);
                transition: 0.3s ease-in-out;
            }
        }

        .skillset_content{
            overflow: hidden;
            max-height: 0px;
            transition: 0.3s max-height ease-in-out;

            .skill{
                display: flex;
                padding: 5px 0;
                justify-content: space-between;

                p{
                    margin: 0;
                    width: 20%;
                    flex-shrink: 0;

                    @include media("<medium") {
                        width: 30%;
                    }

                    @include media("<smartphone") {
                        text-align: right;
                        padding-right: 10px;
                        width: 50%;
                    }
                }

                .skill_container {
                    width: 100%;
                    background-color: rgb(29, 29, 29);
                    flex-shrink: 1;
                    border-radius: 30px;
                    overflow: hidden;
                    position: relative;

                    .skill_entry_spacer{
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        span{
                            width: 20%;
                            border: 1px solid rgb(56, 56, 56);
                            z-index: 5;
                        }
                    }

                    .skill_entry {
                        text-align: right;
                        padding: 0 20px;
                        color: white;
                        background-color: rgba(128, 128, 128, 0.8);
                        width: 0%;
                        height: 100%;
                        border-radius: 0 30px 30px 0;
                        position: relative;
                        z-index: 10;

                        @include media("<smartphone") {
                            text-align: left;
                            padding: 0 10px;
                        }
            
                        &.width100 {
                            animation: width100fill 2s forwards;
                        }
                        @keyframes width100fill {
                            100%{
                                width: 100%;
                            }
                        }
                        &.width90 {
                            animation: width90fill 2s forwards;
                        }
                        @keyframes width90fill {
                            100%{
                                width: 90%;
                            }
                        }
                        &.width80 {
                            animation: width80fill 2s forwards;
                        }
                        @keyframes width80fill {
                            100%{
                                width: 80%;
                            }
                        }
                        &.width70 {
                            animation: width70fill 2s forwards;
                        }
                        @keyframes width70fill {
                            100%{
                                width: 70%;
                            }
                        }
                        &.width60 {
                            animation: width60fill 2s forwards;
                        }
                        @keyframes width60fill {
                            100%{
                                width: 60%;
                            }
                        }
                        &.width50 {
                            animation: width50fill 2s forwards;
                        }
                        @keyframes width50fill {
                            100%{
                                width: 50%;
                            }
                        }
                        &.width40 {
                            animation: width40fill 2s forwards;
                        }
                        @keyframes width40fill {
                            100%{
                                width: 40%;
                            }
                        }
                        &.width30 {
                            animation: width30fill 2s forwards;
                        }
                        @keyframes width30fill {
                            100%{
                                width: 30%;
                            }
                        }
                        &.width20 {
                            animation: width20fill 2s forwards;
                        }
                        @keyframes width20fill {
                            100%{
                                width: 20%;
                            }
                        }
                        &.width10 {
                            animation: width10fill 2s forwards;
                        }
                        @keyframes width10fill {
                            100%{
                                width: 10%;
                            }
                        }
                    }
                }
            }
        }
        &.visible{
            .skillset_headline{
                &::after{
                    clip-path: polygon(50% 0, 0 50%, 100% 50%);
                }
            }
            .skillset_content{
                max-height: 800px;
            }
        }
    }
}
