.section.section--webdev{
    .section_content{

        .description{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                width: 70%;
            }

            @include media("<medium") {
                flex-wrap: wrap;
                justify-content: center;
                p{
                    width: 100%;
                    text-align: center;
                }
            }
        }

        .wd_examples{
            display: grid;
            padding: 20px 0;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-auto-rows: 1fr;
            
            .wd_example_wrap{
                height: 100%;
                position: relative;
                transition: 0.3s ease-in-out;
                
                .wd_example{
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    display: block;
                    box-shadow: 0 0 20px 0px rgb(102, 102, 102);
                    animation-name: animatedshadow;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    background-color: $ColorWhite;
                    
                    img{
                        &.background{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }
                    }
                    h4{
                        font-weight: 200;
                        font-size: 12px;
                        margin-bottom: -5px;
                        color: $ColorBlack;
                        text-align: center;
                        .dark_mode--on &{
                            color: $ColorWhite
                        }
                    }
                    h3{
                        margin: 0;
                        color: $ColorBlack;
                        text-align: center;
                        .dark_mode--on &{
                            color: $ColorWhite
                        }
                    }
                    p{
                        color: $ColorBlack;
                        text-align: center;
                        padding: 0 10px 0 10px;

                        .dark_mode--on &{
                            color: $ColorWhite
                        }
                    }

                    .dark_mode--on &{
                        animation-name: animatedshadowinverted;
                        background-color: $ColorBlack;
                    }
                }

                &:hover{
                    transform: scale(1.1);
                    z-index: 50;
                }
            }

            @include media("<desktop") {
                grid-template-columns: repeat(2, 1fr);
            }
            @include media("<smartphone") {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        @include media("<medium") {
            text-align: center;
        }
    }
}
